.list {
  $self: &;

  margin-bottom: 35px;
  font-size: 14px;

  &__add-btn {
    opacity: 0.4;
    &:hover {
      opacity: 0.8;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;

    transition: background-color 0.15s ease-in-out;

    &.active {
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    i {
      display: inline-flex;
      margin-right: 10px;
      img {
        opacity: 0.6;
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      #{$self}__remove-btn {
        display: inline-block;
        opacity: 0.2;

        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__remove-btn {
    opacity: 0;
    margin-left: auto;
  }
}
