.tasks {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    color: #64c4ed;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;

    display: flex;
    align-items: center;

    &:hover {
      .edit {
        opacity: 0.2;
      }
    }
  }

  .edit {
    margin-left: 15px;
    opacity: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__form {
    margin-top: 20px;

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      img {
        width: 14px;
        height: 14px;
        margin-left: 4px;
      }

      span {
        font-size: 16px;
        margin-left: 15px;
      }
    }

    &-block {
      .btn {
        margin-right: 10px;
        margin-top: 15px;
      }
    }
  }

  &__items {
    position: relative;
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &:hover &-actions {
        opacity: 1;
      }

      &-actions {
        display: flex;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: lighten(#f4f6f8, 2%);
          border-radius: 6px;
          margin-left: 5px;
          cursor: pointer;

          &:hover {
            background-color: darken(#f4f6f8, 2%);
            svg {
              opacity: 0.9;
            }
          }

          svg {
            width: 11px;
            height: 11px;
            opacity: 0.4;
          }
        }
      }

      p {
        margin-left: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }

    svg {
      transition: opacity 0.15s ease-in-out;
      path {
        stroke: #fff;
      }
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border: 2px solid #e8e8e8;
      border-radius: 50%;
      cursor: pointer;

      transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
    }

    input:checked + label {
      svg {
        opacity: 1;
      }
      background: #4dd599;
      border-color: #4dd599;
    }

    input:not(:checked):hover + label {
      svg {
        path {
          stroke: #b2b2b2;
        }
      }
      background: #f2f2f2;
      border-color: #f2f2f2;
    }
  }

  h2 {
    position: absolute;
    top: 120px;
    right: 95px;
    font-size: 23px;
    font-weight: bold;
    color: #c9d1d3;
    text-align: center;
  }
}
