@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.todo {
  display: flex;
  margin: 65px auto;
  width: calc(100vw - 700px);
  height: calc(100vh - 100px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #eaeaea;

  &__sidebar {
    width: 230px;
    background: #f4f6f8;
    border-right: 1px solid #f1f1f1;
    padding: 58px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

.btn {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: darken(#4dd599, 5%);
  }
  &:active {
    background: darken(#4dd599, 10%);
  }

  &--grey {
    background: #f4f6f8;
    color: #9c9c9c;

    &:hover {
      background: darken(#f4f6f8, 5%);
    }
    &:active {
      background: darken(#f4f6f8, 10%);
    }
  }

  &:disabled {
    background: #d8d8d8;
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
  }
}
